.vscode
.cache
build
build-win-*/
.deps/
dist/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
testSources
*.so
*.gch
*.o
*.a

enums_cpp/
enums_java/

__pycache__/

consumer_order.txt
enum_integer_type.txt
is_temporary.txt
omp.txt
types_with_templates.txt
